{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}
{% set setSortieUser = app.user is defined and app.user is not null ? 'true' : 'false' %}
{% block header %}


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('app_ville') }}" class="nav-link">Viles</a>
        <a href="{{ url('app_create_campus') }}" class="nav-link">Campus</a>
        <a href="{{ url('app_home') }}" class="nav-link">Accueil</a>
        <a href="{{ path('app_mon_profil',  {'id': app.user.id }) }}" class="nav-link">Mon Profil</a>
        <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
            Logout (Hello {{ app.user }})
        </a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ url('app_home') }}" class="nav-link">Accueil</a>
        <a href="{{ path('app_mon_profil', {'id': app.user.id } ) }}" class="nav-link">Mon Profil</a>
        <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
            Logout (Hello {{ app.user }})
        </a>
    {% else %}
        <a class="nav-link" href="{{ path('app_login') }}" title="Logout">
            Login
        </a>
        <a  class="nav-link" href="{{ url('app_register') }}">S'inscrire</a>

    {% endif %}



{% endblock %}
{% block content %}

    <div class="row p-5 d-flex justify-content-between  align-items-end">
        <div class="col-md-5">
            <h4> Filtrer Les Sorties</h4>
            <div class="row">
                {{ form_start(filterForm) }}
                <div class="col-md-4">
                    <label for="campus">Campus</label>
                </div>
                {{ form_widget(filterForm.campus) }}

            </div>

            <div class="row ">
                    <div class="col-md-6">
                        <label for="campus">Le nom de la sortie content :</label>
                    </div>
                    <div class="col-md-8">
                        {{ form_widget(filterForm.nom, {'attr': {'class': 'form-control mr-sm-2', 'type': 'search', 'placeholder': 'Search', 'aria-label': 'Search'}}) }}
                    </div>
            </div>
            <div class="row d-flex" style="">
                <div class="col-md-6">
                    <label>Entre :</label>
                    {{ form_widget(filterForm.date_heure_debut) }}
                </div>
                <div class="col-md-6">
                    <label>Et :</label>
                    {{ form_widget(filterForm.data_limite_inscription) }}

                </div>

            </div>

        </div>

            <div class="col-md-5  ">
                <ul class="list-group">
                    {% if app.user %}
                    <li class="list-group-item">
                        {{ form_widget(filterForm.organisateur) }}
                    </li>
                    <li class="list-group-item">
                        {{ form_widget(filterForm.inscrit) }}
                    </li>
                    <li class="list-group-item">
                        {{ form_widget(filterForm.noninscrit) }}
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        {{ form_widget(filterForm.soireepasse) }}
                    </li>
                </ul>
            </div>



        <div class="col-md-2">
            {{ form_widget(filterForm.submit) }}
        </div>

        {{ form_end(filterForm ,{'render_rest': false}) }}

    </div>
    <div class="row p-1 d-flex align-items-center bg-opacity-10"  >
        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/Place</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Tablonun içeriği buraya eklenebilir -->
            {% for sortie in pagination %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.nbInsciptionMax }} /
                        {% if sortie.getParticipant | length > 0 %}
                            {{ sortie.getParticipant | length }}
                        {% else %}
                            <span> 0 </span>
                        {% endif %}
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if setSortieUser == 'true' %}
                            {% if sortie.byIdParticipant(app.user.id) == app.user %}
                                <span> x </span>
                            {% else %}
                                <span> </span>
                            {% endif %}
                        {% endif %}

                    </td>
                    <td>
                        <a href="{{ path('app_mon_profil',  {'id': sortie.organisateur.id }) }}"
                           class="text-decoration-none"> {{ sortie.organisateur.pseudo }} </a>

                    </td>
                    <td>
                        {% if setSortieUser == 'true' %}
                            {% if app.user.id == sortie.organisateur.id %}
                                {% if sortie.etat.libelle == constant('App\\Entity\\Etat::CREE') %}
                                    <a class="text-decoration-none"
                                       href="{{ path( 'app_modifier_sortie',{'id': sortie.id}) }}">Modifier -</a>
                                    <a class="text-decoration-none"
                                       href="{{ path('app_home-publier', {'id': sortie.id}) }}">Publier</a>
                                {% else %}
                                    {% if  sortie.etat.libelle == constant('App\\Entity\\Etat::ANNULE') %}
                                        <a class="text-decoration-none"
                                           href="{{ path('app_afficiher_sortir', {'id': sortie.id}) }}">Afficher -</a>
                                        <a class="text-decoration-none"
                                           href="{{ path('app_home-publier', {'id': sortie.id}) }}">Publier</a>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{{ path('app_afficiher_sortir', {'id': sortie.id}) }}">Afficher -</a>
                                        <a class="text-decoration-none"
                                           href="{{ path('app_annuler_sortie', {'id': sortie.id}) }}">Annuler</a>
                                    {% endif %}


                                {% endif %}
                            {% else %}
                                {% if sortie.getByIdParticipant(app.user.id) == app.user %}
                                    <a class="text-decoration-none"
                                       href="{{ path('app_afficiher_sortir', {'id': sortie.id}) }}"> Afficher - </a>
                                    <a class="text-decoration-none"
                                       href="{{ path('app_home-desister', {'id': sortie.id}) }}"> S'désister</a>
                                {% else %}
                                    {% if sortie.etat.libelle == constant('App\\Entity\\ETAT::PUBLIER') %}
                                        <a class="text-decoration-none"
                                           href="{{ path('app_afficiher_sortir', {'id': sortie.id}) }}"> Afficher - </a>
                                        <a class="text-decoration-none"
                                           href="{{ path('app_home-inscrir', {'id': sortie.id}) }}"> S'inscrirer</a>
                                    {% else %}
                                        <a class="text-decoration-none"
                                           href="{{ path('app_afficiher_sortir', {'id': sortie.id}) }}"> Afficher </a>
                                    {% endif %}
                                {% endif %}


                            {% endif %}

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3 mt-3 d-flex justify-content-start">
                {% if app.user is not null %}
                    <a href="{{ url('app_creation_sortie') }}" class="text-decoration-none btn btn-warning"> Créer une
                        sortie</a>
                {% endif %}


            </div>
            <div class="d-flex justify-content-center m-auto p-4">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
                </ul>
            </div>
        </div>



    </div>

{% endblock %}
