{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}
{% set setSortieUser = app.user is defined and app.user is not null ? 'true' : 'false' %}
{% block header %}


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('app_ville') }}" class="text-decoration-none">Viles</a>
        <a href="{{ url('app_create_campus') }}" class="text-decoration-none">Campus</a>
        <a href="{{ url('app_home') }}" class="text-decoration-none">Accueil</a>
        <a href="{{ path('app_mon_profil',  {'id': app.user.id }) }}" class="text-decoration-none">Mon Profil</a>
        <a class="text-decoration-none" href="{{ path('app_logout') }}" title="Logout">
            Logout (Hello {{ app.user }})
        </a>
    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ url('app_home') }}" class="text-decoration-none">Accueil</a>
        <a href="{{ path('app_mon_profil', {'id': app.user.id } ) }}" class="text-decoration-none">Mon Profil</a>
        <a class="text-decoration-none" href="{{ path('app_logout') }}" title="Logout">
            Logout (Hello {{ app.user }})
        </a>
    {% else %}
        <a class="text-decoration-none" href="{{ path('app_login') }}" title="Logout">
            Login
        </a>
        <a class="text-decoration-none" href="{{ url('app_register') }}">S'inscrire</a>

    {% endif %}



{% endblock %}
{% block content %}

    {{ form(filterForm) }}



{#    <div class="row p-5 d-flex justify-content-between  align-items-end">#}
{#        <div class="col-md-5">#}
{#            <h4> Filtrer Les Sorties</h4>#}
{#            <div class="row">#}
{#                <form action="post">#}
{#                    <div class="col-md-4">#}
{#                        <label for="campus">Campus</label>#}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <select id="campus" name="campus" class="form-control">#}
{#                            <option value="campus1">Campus 1</option>#}
{#                            <option value="campus2">Campus 2</option>#}
{#                            <option value="campus3">Campus 3</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}

{#            <div class="row ">#}
{#                <form action="post">#}
{#                    <div class="col-md-6">#}
{#                        <label for="campus">Le nom de la sortie content :</label>#}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}

{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <form action="post">#}
{#                <div class="row d-flex" style="">#}
{#                    <div class="col-md-6">#}
{#                        <label>Entre :</label>#}
{#                        <input type="date" class="form-control mr-sm-2">#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <label>Et :</label>#}
{#                        <input type="date" class="form-control mr-sm-2">#}

{#                    </div>#}

{#                </div>#}
{#            </form>#}

{#        </div>#}
{#        <div class="col-md-5  ">#}
{#            <ul class="list-group">#}
{#                <li class="list-group-item">#}
{#                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">#}
{#                    <label class="form-check-label" for="firstCheckbox">First checkbox</label>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">#}
{#                    <label class="form-check-label" for="secondCheckbox">Second checkbox</label>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">#}
{#                    <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>#}
{#                </li>#}
{#                <li class="list-group-item">#}
{#                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">#}
{#                    <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="col-md-2">#}
{#            <button class="btn btn-success" style="width: 100% ;height: 100px"> Rechercer</button>#}
{#        </div>#}
    </div>
    <div class="row p-1 d-flex align-items-center" style="border: solid 1px darkgray ; border-radius: 10px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">Inscrits/Place</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- Tablonun içeriği buraya eklenebilir -->
            {% for sortie in sorties  %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d-m-Y') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.nbInsciptionMax }} /
                        {% if sortie.getParticipant | length > 0 %}
                            {{ sortie.getParticipant | length }}
                        {% else %}
                            <span> 0 </span>
                        {% endif %}
                    </td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if setSortieUser == 'true' %}
                            {% if sortie.byIdParticipant(app.user.id) == app.user %}
                                <span> x </span>
                            {% else %}
                                <span> </span>
                            {% endif %}
                        {% endif %}

                    </td>
                    <td>
                        <a href="{{ path('app_mon_profil',  {'id': sortie.organisateur.id }) }}"
                           class="text-decoration-none"> {{ sortie.organisateur.pseudo }} </a>

                    </td>
                    <td>
                        {% if setSortieUser == 'true' %}
                            {% if app.user.id == sortie.organisateur.id %}
                                {% if sortie.etat.libelle == constant('App\\Entity\\Etat::CREE') %}
                                    <a class="text-decoration-none" href="">Modifier -</a>
                                    <a class="text-decoration-none" href="">Publier</a>
                                {% else %}
                                    <a class="text-decoration-none" href="">Afficher</a>
                                    <a class="text-decoration-none" href="">Annuler</a>
                                {% endif %}
                            {% else %}
                                {% if sortie.getByIdParticipant(app.user.id) == app.user %}
                                    <a class="text-decoration-none" href=""> Afficher - </a>
                                    <a class="text-decoration-none" href=""> S'désister</a>
                                {% else %}
                                    {% if sortie.etat.libelle == constant('App\\Entity\\ETAT::PUBLIER') %}
                                        <a class="text-decoration-none" href=""> Afficher - </a>
                                        <a class="text-decoration-none" href=""> S'inscrirer</a>
                                    {% else %}
                                        <a class="text-decoration-none" href=""> Afficher </a>
                                    {% endif %}
                                {% endif %}


                            {% endif %}

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <div class="d-flex justify-content-center m-auto p-4">#}
{#            <ul class="pagination">#}
{#                {{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}#}
{#            </ul>#}
{#        </div>#}


    </div>
    <div class="row">
        <div class="col-md-3 mt-3 d-flex justify-content-start">
            {% if app.user is not null %}
                <a href="{{ url('app_creation_sortie') }}" class="text-decoration-none btn btn-warning"> Créer une
                    sortie</a>
            {% endif %}


        </div>
    </div>
{% endblock %}
