{% extends 'base.html.twig' %}

{% block title %}Create Sortie{% endblock %}

{% block header %}
    <a class="text-decoration-none" href="{{ url('app_home') }}">Accueil</a>
    <a href="{{ path('app_mon_profil',  {'id': app.user.id }) }}" class="text-decoration-none">Mon Profil</a>
    <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
        Logout (Hello {{ app.user }})</a>
{% endblock %}
{% block content %}




    <center><h1>Créer une sortie</h1></center>
    {{ form_start(form_sortie) }}
    <div class="row d-flex justify-content-center align-items-start p-5">


        <div class="col-md-6 ">
            {{ form_start(form_sortie) }}
            {{ form_row(form_sortie.nom) }}
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    {{ form_row(form_sortie.dateHeureDebut) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form_sortie.dateLimiteInscription) }}
                </div>
            </div>

            {{ form_row(form_sortie.duree) }}
            {{ form_row(form_sortie.nbInsciptionMax) }}
            {{ form_row(form_sortie.infosSortie) }}

            <div class="d-flex justify-content-evenly mt-4 ">
                <button type="submit" name="register" class="btn btn-primary mt-4">Enregistrer</button>
                <button type="submit" name="publier" class="btn btn-secondary mt-4">Publier la sortie</button>
                <button type="button" class="btn btn-danger mt-4 ">Annuler</button>

            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form_sortie.campus) }}

            {{ form_end(form_sortie) }}
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="city">Select a City:</label>
                            <select name="city" id="city" class="form-control">
                                <option value="">Select a City</option>
                                {% for city in cities %}
                                    <option value="{{ city.id }}"
                                    >{{ city.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>


            </div>



            <div class="form-group">
                <div id="lieus_city" class="row mt-3">
                    <div class="col-md-6">
                        <h2>Lieus </h2>
                        <select name="lieu" id="lieuList" class="form-control">
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <div id="lieu-details" style="display: none;">
                        <h2>Lieu Details</h2>
                        <p id="lieu-name"></p>
                        <p id="lieu-rue"></p>
                        <p id="lieu-latitude"></p>
                        <p id="lieu-longitude"></p>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button id="addLieuButton" class="btn btn-success">+</button>
                    <div id="addLieuModal" style="display: none;">
                        <form method="post" action="{{ path('app_add_lieu') }}" class="mt-2">
                            <div class="form-group">
                                <label for="lieu_name">Lieu Name:</label>
                                <input type="text" name="lieu_name" id="lieu_name" class="form-control"
                                       placeholder="Lieu Name" required>

                            </div>
                            <div class="form-group">
                                <label for="rue">Rue:</label>
                                <input type="text" name="rue" id="rue" class="form-control" placeholder="Rue" required>
                            </div>
                            <div class="form-group">
                                <label for="latitude">Latitude:</label>
                                <input type="text" name="latitude" id="latitude" class="form-control"
                                       placeholder="Latitude"
                                       required>

                            </div>
                            <div class="form-group">
                                <label for="longitude">Longitude:</label>
                                <input type="text" name="longitude" id="longitude" class="form-control"
                                       placeholder="Longitude" required>

                            </div>
                            <div class="form-group">
                                <label for="city">Select a City:</label>
                                <select name="city" id="city" class="form-control" required>
                                    <option value="">Select a City</option>
                                    {% for city in cities %}
                                        <option value="{{ city.id }}"
                                        >{{ city.nom }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>




    </div>


    {% block javascript %}
    <script src="{{ asset('js/lieu.js') }}"></script>

   {% endblock %}
{% endblock %}

