{% extends 'base.html.twig' %}

{% block title %}Campus Gérer{% endblock %}

{% block header %}
    <a class="nav-link" href="{{ url('app_home') }}">Accueil</a>
    <a href="{{ path('app_mon_profil',  {'id': app.user.id }) }}"  class="nav-link">Mon Profil</a>
    <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
        Logout (Hello {{ app.user }})
    </a>

{% endblock %}
{% block content %}

    <div class="row p-1 d-flex align-items-center mt-5" >
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom de la Campus</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form method="POST">
                    {{ form_start(campus_form) }}

                    <table>
                        <tr>
                            <td>
                                {{form_row(campus_form.nom)}}
                                <button type="submit" class="btn btn-success">Valider</button>

                            </td>

                        </tr>
                    </table>
                    {{ form_end(campus_form) }}
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}