{% extends 'base.html.twig' %}

{% block title %}Mon Profil!{% endblock %}


    {% block header %}
        <a class="nav-link"href="{{ url('app_home') }}">Accueil</a>
        {% if app.user %}
            <a class="nav-link"href="{{ path('app_mon_profil', {'id':app.user.id} ) }}">Mon Profil</a>
            <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
                Logout (Hello {{ app.user }})</a>
        {% else %}
            <a class="nav-link"href="{{ url('app_register') }}">S'inscrire</a>

        {% endif %}

    {% endblock %}

    {% block content %}
        <div class="text-center">
            <h1 class="mb-5"> {{ participant.pseudo | capitalize }}</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="square-div mt-4">
                        <div style=" width: 200px; height: 200px">
                            {% if participant.image %}
                                <img src="{{ asset(app_image_profil_directory ~ '/' ~ participant.image) }}"
                                     class="card-img-top img-fluid" alt="image du souhait">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <dl class="dl-horizontal">
                        <dt style="text-align: left;">Prenom:</dt>
                        <dd><i>{{ participant.prenom | default('....') | capitalize }}</i></dd>

                        <dt style="text-align: left;">Nom:</dt>
                        <dd><i>{{ participant.nom | default('....') | capitalize }}</i></dd>

                        <dt style="text-align: left;">Téléphone:</dt>
                        <dd><i>{{ participant.telephone | default('....') | capitalize }}</i></dd>

                        <dt style="text-align: left;">Email:</dt>
                        <dd><i>{{ participant.mail }}</i></dd>

                        <dt style="text-align: left;">Campus:</dt>
                        <dd><i>{{ participant.campus.nom | default('....') | capitalize }}</i></dd>
                    </dl>
                </div>
            </div>
            <a href="{{ url('app_home') }}" class="btn btn-primary">Home</a>
            {% if app.user %}
                <a href="{{ path('app_register_detail', {'id':app.user.id} ) }}" class="btn btn-warning">Modify</a>

            {% endif %}
        </div>
        </div>

    {% endblock %}
