{% extends 'base.html.twig' %}

{% block title %}Ville Gérer!{% endblock %}

{% block header %}
    <a class="text-decoration-none"  href="{{ url('app_home') }}">Accueil</a>
    <a class="text-decoration-none"  href="{{ path('app_mon_profil', {'id':app.user.id} )}}">Mon Profil</a>
    <a class="nav-link" href="{{ path('app_logout') }}" title="Logout">
        Logout (Hello {{ app.user }})
    </a>

{% endblock %}

{% block content %}
    <h2 class="d-flex justify-content-center"> Gérer les Villes</h2>
    <div class="row p-5 d-flex justify-content-between  align-items-end">
        <h4 > Filtrer Les Villes</h4>
        <form action="post" class="mt-2">
            <div class="row d-flex align-items-end">
                <div class="col-md-3">
                    <label>Le nom de  content :</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">

                </div>
                <div class="col-md-4">
                    <button class="btn btn-success">Rechercher</button>
                </div>

            </div>
        </form>
        <div class="row p-1 d-flex align-items-center mt-5" style="border: solid 1px gray ; border-radius: 10px" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Ville</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for ville in villeGetAll %}
                    <tr>
                        <td>
                            <input type="text" value="{{ ville.nom }}" readonly
                                   class="form-control-plaintext campus-name-input">
                        </td>
                        <td>
                            <input type="text" value="{{ ville.codepostal }}" readonly
                                   class="form-control-plaintext campus-name-input">
                        </td>
                        <td>
                            <a href="{{ path('app_create_ville_update', {'id': ville.id}) }}"
                               class="btn btn-success modify-button">Modify</a>
                            <a href="{{ path('app_create_ville_delete', {'id': ville.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <form method="POST">
                        {{ form_start(ville_form) }}

                        <table>
                            <tr>
                                <td>
                                    {{form_widget(ville_form.nom)}}

                                </td>
                                <td>
                                    {{form_widget(ville_form.codePostal)}}

                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Ajouter</button>
                                </td>
                            </tr>
                        </table>
                        {{ form_end(ville_form) }}
                    </form>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
